@use "../abstracts" as *;
@import "../global";

.discover-collection {
  position: relative;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/home/hero-bg.png);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  @media screen and (max-width: 768px) {
    background-attachment: local;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    padding: 2rem;
    justify-content: center;
  }

  &__title {
    @include responsive-font-size(4xl, 1.3);
    color: var(--text-white);
    margin-bottom: 1rem;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 0;
  }
  &__description {
    @include responsive-font-size(sm);
    @include use-font(300);
    margin-bottom: 2rem;
    color: var(--text-white);
  }

  &__button {
    @extend .btn-skew-animation !optional;
  }

  &__slider-container {
    position: relative;
    overflow: hidden;
  }

  &__slider {
    overflow: visible;
    padding: 1rem 0;

    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      height: fit-content;
      // max-width: 300px;

      @media (max-width: 768px) {
        // max-width: 250px;
      }

      @media (max-width: 480px) {
        // max-width: 200px;
      }
      .banner-img {
        width: 100%;
        height: 100%;
        max-height: 90vh;
        object-fit: cover;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    z-index: 4;
    right: 1rem;
    padding: 0;
  }

  &__nav-btn {
    width: 40px;
    height: 40px;
    // border-radius: 8px;
    border: 2px solid var(--text-primary);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--text-primary);

    &:hover {
      background: var(--text-primary);
      color: white;
      transform: scale(1.05);
    }

    &.swiper-button-disabled {
      opacity: 0.3;
      cursor: not-allowed;

      &:hover {
        background: white;
        color: var(--text-primary);
        transform: none;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }

    @media (max-width: 768px) {
      width: 30px;
      height: 30px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__nav-btn--prev {
    @media (min-width: 1024px) {
      left: -24px;
    }

    svg {
      transform: rotate(180deg);
    }
  }

  &__nav-btn--next {
    @media (min-width: 1024px) {
      right: -24px;
    }
  }
}
