@use "../abstracts" as *;
@import "../global";

.discover-collection {
  position: relative;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/home/hero-bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  @media screen and (max-width: 768px) {
    background-attachment: local;
    min-height: 80vh;
    min-height: 80svh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }

  &__title {
    @include responsive-font-size(4xl, 1.3);
    color: var(--text-white);
    margin-bottom: 1rem;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
  }
  &__description {
    @include responsive-font-size(sm);
    @include use-font(300);
    margin-bottom: 2rem;
    color: var(--text-white);
  }

  &__button {
    @extend .btn-skew-animation !optional;
  }
}
