@import "../abstracts/common";

.discover-collection {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/home/hero-bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }

  &__title {
    @include responsive-font-size("5xl", 1.5);
    color: var(--text-white);
    margin-bottom: 1rem;
    font-family: "Limelight";
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
  }
  &__description {
    @include responsive-font-size("sm", 1.2);
    @include use-ranade-font(100);
    margin-bottom: 2rem;
    color: var(--text-white);
  }

  &__button {
    display: flex;
    width: 240px;
    height: 48px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    text-align: center;
    border: none;
    @include use-ranade-font(500);

    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: darken(#007bff, 10%);
    }
  }
}
